@model int

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div>
Form here...
</div>
<div id="progress">
Loading data...
</div>

<div id="filteredList">

@Html.Action("ProductList", new { page = Model })

</div>