@model int

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div>
@using (Ajax.BeginForm("ProductList",
                            new AjaxOptions { InsertionMode = InsertionMode.Replace,
                                                LoadingElementId = "progress",
                                                UpdateTargetId = "filteredList" })) {
    @Html.TextBox("searchString");
    <input type="submit" value="Search" />
}
</div>
<div id="progress">
Loading data...
</div>

<div id="filteredList">

@Html.Action("ProductList", new { page = Model })

</div>