@model List<string>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@section MySection {
<p>This is My Section!</p>
}

@section Scripts {
<script type="text/javascript">
    $(alert('Hello!'));
</script>
}